{{!--


    Debug.hbs

    A handlebars template that can be included during development to make it easier to read 

--}}


<h1>Current Context</h1>

<pre>{{this}}</pre>



<h1>Other Context</h1>

<table>
    
    <tr><th>tenant_alias</th><td>The current tenant</td></tr>
    <tr><th></th><td></td></tr>
    <tr><th></th><td></td></tr>
    <tr><th></th><td></td></tr>
    <tr><th></th><td></td></tr>
    
</table>