{{!--


    Debug.hbs

    A handlebars template that can be included during development to make it easier to read 

--}}


<h1>Current Context</h1>


<pre id="js-debug-context">{{this}}</pre>


<script type="text/javascript">
   (function(){
       var context = document.getElementById("js-debug-context");
       
       context.innerText = JSON.stringify(JSON.parse(context.innerText),null,2);
   })();
</script>


<h1>Context Documentation</h1>

<table class="table">
    
    <tr><th>tenant_alias</th><td>The current tenant</td></tr>
    <tr><th>user</th><td>The currently signed-in user.
        <table class="table">
            <tr><th>id</th><td>User's unique id</td></tr>
            <tr><th>accountId</th><td>User's company/group account id.</td></tr>
            <tr><th>email</th><td>User's email address.</td></tr>
            <tr><th>imageUrl</th><td>User's profile image URL.</td></tr>
            <tr><th>firstName</th><td>User's first name.</td></tr>
            <tr><th>lastName</th><td>User's last name.</td></tr>
        </table>
    </td></tr>
    <tr><th>referrals</th><td>List of referrals
        
        <table class="table">
            <tr><th>referredUser</th><td>The User that was referred</td></tr>
            <tr><th>paid</th><td>The account state. Either paid (True) or trial/free (False)</td></tr>
            <tr><th>dateReferred</th><td>The date the user was first seen.</td></tr>
            <tr><th>referrerReward</th><td>The reward for referring this user, or NULL.</td></tr>
        </table>
    </td></tr>
    <tr><th>rewardBalances</th><td>List of reward balances</td></tr>
    <tr><th>shareLinks</th><td>A list of share links, tagged for various share mediums
        
        <table class="table">
            <tr><th>shareLink</th><td>Default</td></tr>
            <tr><th>facebookShareLink</th><td>Facebook from web.</td></tr>
            <tr><th>twitterShareLink</th><td>Twitter from web.</td></tr>
            <tr><th>emailShareLink</th><td>Email from web.</td></tr>
            <tr><th>mobileShareLink</th><td>Default mobile.</td></tr>
            <tr><th>mobileFacebookShareLink</th><td>Facebook from mobile.</td></tr>
            <tr><th>mobileTwitterShareLink</th><td>Twitter from mobile.</td></tr>
            <tr><th>mobileEmailShareLink</th><td>Email from mobile.</td></tr>
        </table>
        
    </td></tr>
</table>


<h3>Other context (used internally)</h3>
<table class="table">
    <tr><th>segmentApiKey</th><td>Used internally</td></tr>
    <tr><th>mode</th><td>Used internally</td></tr>
    <tr><th>assetVersion</th><td>Used internally</td></tr>
    <tr><th>headerVersion</th><td>Used internally</td></tr>
</table>

<h3>Example context</h3>
<pre>
    tenantAlias":"test_a7fprfjx7tzxh",
    "user":
        {"id":"219065",
         "accountId":"219065",
         "referralCode":"LOGANVOLKERS",
         "email":"logan@saasquat.ch",
         "imageUrl":"",
         "firstName":"Logan",
         "lastName":"Volkers"
        },
    "referrals":[],
    "rewardBalances":[],
    "isSecureUrl":false,
    "segmentApiKey":"ysufztt1rq",
    "shareLinks":
        { "shareLink":"http://ssqt.ch/1oNcJTy",
          "facebookShareLink":"http://ssqt.ch/1oNcLee",
          "twitterShareLink":"http://ssqt.ch/1oNcLed",
          "emailShareLink":"http://ssqt.ch/1oNcJDj",
          "mobileShareLink":"http://ssqt.ch/1oNcJTB",
          "mobileFacebookShareLink":"http://ssqt.ch/1oNcJTz",
          "mobileTwitterShareLink":"http://ssqt.ch/1oNcLef",
          "mobileEmailShareLink":"http://ssqt.ch/1oNcJDl"
        },
    "mode":"EMBED",
    "assetVersion":"BKEi287d",
    "headerVersion":"1"
</pre>

</table>