{{#if imageUrl}}
  <img src="{{imageUrl}}">
{{else}}
  <img src="http://www.gravatar.com/avatar/?d=blank">
  {{!-- TODO: Need string helpers turned on
    <div class="initials">{{substring firstName 1}}{{substring lastName 1}}</div>
  --}}
  
{{/if}}